.FocusIndicator {
  position absolute
  animation focusIndicator 2s infinite ease-in-out
}

@keyframes focusIndicator {
  0% {
    transform scale(1)
  }
  50% {
    transform scale(1.2)
  }
  100% {
    transform scale(1)
  }
}
