$shade = 7

/**
 * Color maps  :    0       1       2       3       4       5       6       7       8       9
 */
$maps = {
  'red'        : #faeaea #f4cbca #eca9a7 #e48784 #df6d69 #d9534f #d54c48 #cf423f #ca3936 #c02926,
  'green'      : #ebf6eb #ceeace #aedcae #8dcd8d #74c374 #5cb85c #54b154 #4aa84a #41a041 #309130,
  'blue'       : #E3F2FD #BBDEFB #90CAF9 #64B5F6 #42A5F5 #2196F3 #1E88E5 #1976D2 #1565C0 #0D47A1,
  'yellow'     : #fdf5ea #fbe6ca #f8d6a7 #f5c683 #f2b969 #f0ad4e #eea647 #ec9c3d #e99335 #e58325,
  'grey'       : #FAFAFA #F5F5F5 #EEEEEE #E0E0E0 #BDBDBD #9E9E9E #757575 #616161 #424242 #212121,
  'navy'       : #e9eaf0 #bbbdd1 #9a9cbb #6f739e #60648e #54577c #484a6a #3b3d58 #2f3145 #232433,
  'purple'     : #e6d1e8 #cb9ecf #b778bd #984e9f #85448a #713a76 #5d3061 #4a264d #361c38 #221224,
  'pink'       : #FCE4EC #F8BBD0 #F48FB1 #F06292 #EC407A #E91E63 #D81B60 #C2185B #AD1457 #880E4F,
  'indigo'     : #E8EAF6 #C5CAE9 #9FA8DA #7986CB #5C6BC0 #3F51B5 #3949AB #303F9F #283593 #1A237E,
  'cyan'       : #E0F7FA #B2EBF2 #80DEEA #4DD0E1 #26C6DA #00BCD4 #00ACC1 #0097A7 #00838F #006064,
  'teal'       : #E0F2F1 #B2DFDB #80CBC4 #4DB6AC #26A69A #009688 #00897B #00796B #00695C #004D40,
  'lime'       : #F9FBE7 #F0F4C3 #E6EE9C #DCE775 #D4E157 #CDDC39 #C0CA33 #AFB42B #9E9D24 #827717,
  'amber'      : #FFF8E1 #FFECB3 #FFE082 #FFD54F #FFCA28 #FFC107 #FFB300 #FFA000 #FF8F00 #FF6F00,
  'orange'     : #FFF3E0 #FFE0B2 #FFCC80 #FFB74D #FFA726 #FF9800 #FB8C00 #F57C00 #EF6C00 #E65100,
  'deepOrange' : #FBE9E7 #FFCCBC #FFAB91 #FF8A65 #FF7043 #FF5722 #F4511E #E64A19 #D84315 #BF360C,
  'brown'      : #EFEBE9 #D7CCC8 #BCAAA4 #A1887F #8D6E63 #795548 #6D4C41 #5D4037 #4E342E #3E2723,
  'blueGrey'   : #ECEFF1 #CFD8DC #B0BEC5 #90A4AE #78909C #607D8B #546E7A #455A64 #37474F #263238
}

// Colors
$yellow = $maps['yellow'][shade]
$red = $maps['red'][shade]
$green = $maps['green'][shade]
$blue = $maps['blue'][shade]

map($name, $shade = 5, $alpha = 1)
  $color = $maps[$name][$shade]
  if $alpha > 1
    $alpha = $alpha / 100
  if $alpha is 1
    return $color
  else
    return alpha($color, $alpha)

grey($shade = 5, $alpha = 1)
  return map('grey', $shade, $alpha)

white($alpha = 1)
  if $alpha > 1
    $alpha = $alpha / 100
  return alpha(#ffffff, $alpha)

black($alpha = 1)
  if $alpha > 1
    $alpha = $alpha / 100
  alpha(#000000, $alpha)

primary($shade = 5, $alpha = 1)
  return map('purple', $shade, $alpha)
