/**
 * Generate margin and padding helpers
 */
sizes = 0 2 4 6 8 10 12 14 16 18 20 24
for num in sizes
  // margin
  .m{num}
    margin: unit(num, px)
  // horizontal margin
  .mx{num}
    margin: 0 unit(num, px)
  // vertical margin
  .my{num}
    margin: unit(num, px) 0
  // one side margin
  .mb{num}
    margin-bottom: unit(num, px)
  .mt{num}
    margin-top: unit(num, px)
  .ml{num}
    margin-left: unit(num, px)
  .mr{num}
    margin-right: unit(num, px)
  // padding
  .p{num}
    padding: unit(num, px)
  // horizontal padding
  .px{num}
    padding-left: unit(num, px)
    padding-right: unit(num, px)
  // vertical margin
  .py{num}
    padding-top: unit(num, px)
    padding-bottom: unit(num, px)
  // one side padding
  .pb{num}
    padding-bottom: unit(num, px)
  .pt{num}
    padding-top: unit(num, px)
  .pl{num}
    padding-left: unit(num, px)
  .pr{num}
    padding-right: unit(num, px)

/**
 * Generate font weight helpers
 */
fw = 100 200 300 400 500 600 700 800 900
for val in fw
  .fw{val}
    font-weight: val
