@import 'vars'

@import 'helpers'

@import 'transitions/fade'
@import 'transitions/scaleIn'
@import 'transitions/scaleOut'

@import 'animations/wobble'

fontFace('MaterialIcons', 'MaterialIcons-Regular', 400)



html {
  font-size 100%
  fonst-family 'Roboto'
  box-sizing border-box
}

*, *:before, *:after {
  box-sizing inherit
}

body {
  min-height 100vh

  background $bodyBackground;

  color $fontColor
  font-family $fontFamily
  font-weight $fontWeight
  font-style normal

  // -webkit-font-smoothing antialiased
  // -moz-osx-font-smoothing grayscale
}

::-webkit-scrollbar
  width: 10px
::-webkit-scrollbar-thumb
  background: primary()

img {
  max-width 100%
  max-height 100%
  height auto
}

.shadow {
  shadow()
}

.light-shadow {
  shadow(light: true)
}

.dnd-handle {
  cursor move
}
