@import 'functions/borderRadius'
@import 'functions/units'
@import 'functions/clearfix'
@import 'functions/button'
@import 'colors'

// Transitions
$transition := {
  fast-out-slow-in: cubic-bezier(0.4, 0.0, 0.2, 1),
  linear-out-slow-in: cubic-bezier(0.0, 0.0, 0.2, 1),
  fast-out-linear-in: cubic-bezier(0.4, 0.0, 1, 1),
  ease-in-out: cubic-bezier(0.4, 0.0, 0.6, 1),
  fast-in-fast-out: cubic-bezier(.25,.8,.25,1),
  swing: cubic-bezier(.25,.8,.50,1)
}

$primaryTransition := 0.3s $transition.swing
$secondaryTransition := 0.2s $transition.ease-in-out

$dark = grey(9)
$light = grey(1)
$radius = 4px
$spacing = 10px
$headerSize = 64px
$monospace = 'Source Code Pro', monospace

$borderWidth = 2px
$borderStyle = solid
$borderColor = grey(3)
$border = $borderWidth $borderStyle $borderColor

$bodyBackground = white

$fontFamily = 'Roboto'
$fontSize = 1rem
$fontColor = black(65)
$fontWeight = 400

debug()
  background black(10)
  border 1px solid black(20)


shadow(blur = 10, spread = -2, light = false)
  if light
    color1 = white(30)
    color2 = white(20)
  else
    color1 = black(35)
    color2 = black(23)
  box-shadow 0 1px unit(blur / 2, 'px') unit(spread / 2, 'px') color1,
             0px 0px unit(blur, 'px') unit(spread, 'px') color2

shadow-bottom(blur = 2, spread = -1, light = false)
  box-shadow: 0 3px unit(blur, 'px') unit(spread, 'px') black(35)




radius(size = $radius)
  border-radius: size
