<template>
  <div class="Pagination" :class="{dark, light}">
    <div class="Pagination__buttons">
      <icon-button class="btn"
                   icon="keyboard_arrow_left"
                   negative
                   @click="prev"
      />
    </div>
    <div class="Pagination__text">
      {{ lowerBound + 1 }} - {{ upperBound + 1 }} of {{ total }}
    </div>
    <div class="Pagination__buttons">
      <icon-button class="btn"
                   icon="keyboard_arrow_right"
                   negative
                   @click="next"  />
    </div>
  </div>
</template>

<script>
export default {
  name: 'Pagination',

  components: {
    IconButton: require('../Button/IconButton.vue')
  },

  props: {
    data: { type: Array, default: () => [] },
    page: { type: Number, default: 1 },
    perPage: { type: Number, default: 10 },
    dark: Boolean,
    light: Boolean
  },

  data: () => ({
    currentPage: 0,
    lowerBound: 0,
    upperBound: 0
  }),

  computed: {
    total () {
      return this.data.length
    }
  },

  watch: {
    data () {
      this.paginate()
    },
    perPage () {
      this.paginate()
    }
  },

  methods: {
    getLowerBound () {
      const perPage = parseInt(this.perPage, 10)
      return this.currentPage * perPage
    },

    getUpperBound () {
      const perPage = parseInt(this.perPage, 10)
      const upperBound = this.currentPage * perPage + (perPage - 1)
      return upperBound > this.total ? this.total - 1 : upperBound
    },

    prev () {
      if (this.currentPage > 0) {
        this.currentPage--
        this.paginate()
      }
    },

    next () {
      if (this.upperBound < this.total - 1) {
        this.currentPage++
        this.paginate()
      }
    },

    paginate () {
      this.lowerBound = this.getLowerBound()
      this.upperBound = this.getUpperBound()
      const items = this.data.slice(this.lowerBound, this.upperBound + 1)
      this.$emit('change', { items })
    }
  },

  mounted () {
    if (this.page) {
      this.currentPage = this.page - 1
    }
    this.paginate()
  }
}
</script>

<style lang="stylus" scoped>
.Pagination
  left: 0
  right: 0
  display: flex
  align-items: center
  background: inherit
  justify-content: flex-end
  padding: rem(8, 16)
  color: black(60)
  font-family $monospace
  font-weight: 500
  &.dark
    color: white(80)


.Pagination__buttons
  display: flex
  align-items: center
  margin: rem(0, 16)
  & > .btn
    color: inherit
    &:hover
      color: white


.Pagination__text
  font-size rem(16)
  font-weight 500
</style>
