<template>
<focusable-content>
  <div class="Checkbox"
       :class="{ active: value }"
       :style="style"
  >
    <focus-indicator :show="hasFocus"
                     :offset="-4"
    ></focus-indicator>
    <transition name="checkbox">
      <icon v-if="value"
            value="check_box"
            style="position: absolute;"
      ></icon>
    </transition>
    <icon value="check_box_outline_blank"
          style="position: absolute;"
    ></icon>
  </div>
</focusable-content>
</template>

<script>
import {px} from 'ui/utils'
import Icon from './Icon.vue'
import FocusableContent from './SelectableContent/SelectableContent'
import FocusIndicator from './SelectableContent/FocusIndicator'

export default {
  name: 'Checkbox',

  components: {Icon, FocusableContent, FocusIndicator},

  props: {
    value: {
      type: Boolean,
      required: true
    },
    size: {
      type: [Number, String],
      default: 24
    }
  },

  data () {
    return {
      hasFocus: false,
      hasHover: false,
      isDisabled: false
    }
  },

  computed: {
    style () {
      return {
        width: px(this.size),
        height: px(this.size)
      }
    },
    classList () {
      return {
        'active': this.value
      }
    }
  }
}
</script>

<style lang="stylus" scoped>
.Checkbox {
  position: relative
  display: flex
  flex: 0 0 24px
  width: 24px
  height: 24px
  color: $black

  &.active {
    color: primary()
  }
}

.checkbox-enter-active, .checkbox-leave-active {
  transition: all .25s ease-in
  transform rotate(0) scale(1)
  opacity 1
}
.checkbox-enter, .checkbox-leave-to {
  transform rotate(-90deg) scale(0)
  opacity 0
}
</style>
