<template>
  <div class="Loader">
    <span class="dot dot_1"></span>
    <span class="dot dot_2"></span>
    <span class="dot dot_3"></span>
    <span class="dot dot_4"></span>
  </div>
</template>

<script>
  export default {
    name: 'Loader'
  }
</script>

<style lang="stylus" scoped>
$animationLength = 1.5s
$animationRadius = 18px
$dotSize = 10px

.loader {
  flex: 1 1 auto
  display: flex
  align-items: center
  justify-content: center
  position: relative
  width: $animationRadius * 3 + $dotSize
  height: $dotSize
}

.dot {
  display: inline-block
  width: $dotSize
  height: $dotSize
  border-radius: $dotSize * 0.5
  background: #aaa
  position: absolute
}

.dot_1 {
  animation: animateDot1 $animationLength linear infinite
  left: $animationRadius
  background: primary(4)
}

.dot_2 {
  animation: animateDot2 $animationLength linear infinite
  animation-delay: $animationLength * 0.33
  left: $animationRadius * 2
}

.dot_3 {
  animation: animateDot3 $animationLength linear infinite
  left: $animationRadius
}

.dot_4 {
  animation: animateDot4 $animationLength linear infinite
  animation-delay: $animationLength * 0.33
  left: $animationRadius * 2
  background: primary(4)
}

@keyframes animateDot1 {
  0%   { transform: rotate(0deg)   translateX(- $animationRadius) }
  25%  { transform: rotate(180deg) translateX(- $animationRadius) }
  75%  { transform: rotate(180deg) translateX(- $animationRadius) }
  100% { transform: rotate(360deg) translateX(- $animationRadius) }
}

@keyframes animateDot2 {
  0%   { transform: rotate(-0deg)   translateX(- $animationRadius) }
  25%  { transform: rotate(-180deg) translateX(- $animationRadius) }
  75%  { transform: rotate(-180deg) translateX(- $animationRadius) }
  100% { transform: rotate(-360deg) translateX(- $animationRadius) }
}

@keyframes animateDot3 {
  0%   { transform: rotate(0deg)   translateX($animationRadius) }
  25%  { transform: rotate(180deg) translateX($animationRadius) }
  75%  { transform: rotate(180deg) translateX($animationRadius) }
  100% { transform: rotate(360deg) translateX($animationRadius) }
}

@keyframes animateDot4 {
  0%   { transform: rotate(-0deg)   translateX($animationRadius) }
  25%  { transform: rotate(-180deg) translateX($animationRadius) }
  75%  { transform: rotate(-180deg) translateX($animationRadius) }
  100% { transform: rotate(-360deg) translateX($animationRadius) }
}
</style>
