<script>
export default {
  name: 'Dropdown',

  props: {
    show: Boolean
  },

  render (h) {
    if (!this.show) return

    return h('div', {
      class: {
        'Dropdown': true
      }
    }, [
      this.$slots.default
    ])
  }
}

</script>

<style lang="stylus" scoped>
.Dropdown {
  width: 100%
  height: 200px
  border: $border
}
</style>
