<script>
import {px} from 'ui/utils'

export default {
  name: 'Icon',

  props: {
    value: String,
    size: {
      type: [Number, String],
      default: 24
    }
  },

  computed: {
    iconStyle () {
      const size = px(this.size)
      return {
        fontSize: size,
        width: size,
        height: size
      }
    },

    icon () {
      if (this.value) {
        return this.value
      }
      if (this.$slots.default) {
        return this.$slots.default[0].text
      }
    }
  },

  methods: {
    handleClick (e) {
      this.$emit('click', e)
    }
  },

  render (h) {
    const {icon, iconStyle, handleClick} = this

    if (!icon) {
      return null
    }

    const isMaterial = icon.indexOf(':') !== 0
    const text = isMaterial ? icon : ''

    return h('i', {
      class: ['Icon', isMaterial ? 'material' : icon.substring(1)],
      style: iconStyle,
      on: {
        click: handleClick
      }
    }, text)
  }
}
</script>

<style lang="stylus" scoped>
.Icon {
  font-family 'Material Icons'
  font-weight normal
  font-style normal
  font-size 24px  // Preferred icon size
  display inline-block
  line-height 1
  text-transform none
  letter-spacing normal
  word-wrap normal
  white-space nowrap
  direction ltr
  // Support for all WebKit browsers
  -webkit-font-smoothing antialiased
  // Support for Safari and Chrome
  text-rendering optimizeLegibility
  // Support for Firefox
  -moz-osx-font-smoothing grayscale
  // Support for IE
  font-feature-settings 'liga'
}
</style>
