<template>
  <div class="Loader" :style="style" :class="{light}"></div>
</template>

<script>
  import {px} from 'ui/utils'

  export default {
    name: 'Loader',
    props: {
      size: {type: Number, default: 32},
      width: {type: Number},
      height: {type: Number},
      borderWidth: {type: Number, default: 2},
      light: Boolean
    },
    computed: {
      style () {
        return {
          width: px(this.width || this.size),
          height: px(this.height || this.size),
          borderWidth: px(this.borderWidth)
        }
      }
    }
  }
</script>

<style lang="stylus" scoped>
.Loader {
  border-radius 50%
  width 32px
  height 32px
  border-style solid
  border-color black(10)
  border-left-color black(60)
  border-width 2px
  transform translateZ(0)
  animation load 2s infinite linear

  &.light {
    border-color white(20)
    border-left-color white(90)
  }
}
@keyframes load {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}
</style>
