<template>
  <div class="Popup" v-if="show" tabindex="0" @keyup.esc="handleEscapePress">
    <transition name="fade" :duration="2000">
      <overlay v-if="showOverlay"
               :depth="$ui.depth.popup"
      ></overlay>
    </transition>
    <transition name="scaleIn">
      <div class="Popup__container"
           ref="container"
           v-if="showPopup"
           :style="style"
      >
        <slot></slot>
      </div>
    </transition>
  </div>
</template>

<script>
import Overlay from './Overlay/Overlay'

export default {
  name: 'popup',

  components: {
    Overlay
  },

  props: {
    show: {
      type: Boolean,
      required: true
    },
    containerStyle: {
      type: Object,
      default: () => ({})
    },
    dismissWithEsc: {
      type: Boolean,
      default: true
    },
    dismissOnOverlayClick: {
      type: Boolean,
      default: true
    }
  },

  data () {
    return {
      showOverlay: false,
      showPopup: false
    }
  },

  mounted () {
    document.body.appendChild(this.$el)
    this.show ? this.activate() : this.deactivate()
    if (this.dismissOnOverlayClick) {
      this.$on('overlayClick', () => {
        this.deactivate()
      })
    }
  },

  beforeDestroy () {
    // document.body.removeChild(this.$el)
    this.$off('overlayClick')
  },

  watch: {
    show (val) {
      val ? this.activate() : this.deactivate()
    }
  },

  computed: {
    style () {
      return {
        ...this.containerStyle,
        zIndex: this.$ui.depth.popup + 1
      }
    }
  },

  methods: {
    handleEscPress () {
      console.log('esc')
    },
    activate () {
      this.showOverlay = true
      // Open modal on next tick to fire animation
      this.$nextTick(() => {
        this.showPopup = true
        // Restrict focus to the modal scope
        this.$nextTick(() => {
          // Store current active element
          const {activeElement} = document
          if (activeElement) {
            this.previousFocus = activeElement
          }
          if (activeElement && !this.$el.contains(activeElement)) {
            this.$refs['container'].focus()
          }
          // document.addEventListener('focus', this.restrictFocus, false)
        })
      })
    },

    onEscKeyPress () {
      if (this.dismissWithEsc) {
        this.deactivate()
      }
    },

    deactivate () {
      this.showPopup = false
      this.$nextTick(() => {
        this.showOverlay = false
        this.teardownPopup()
        this.$emit('close')
      })
    },

    restrictFocus (e) {
      if (!this.$el.contains(e.target)) {
        e.stopPropagation()
        if (this.$refs['container']) {
          this.$refs['container'].focus()
        }
      }
    },

    teardownPopup () {
      document.removeEventListener('focus', this.restrictFocus)
      if (this.previousFocus) {
        this.previousFocus.focus()
      }
    }
  }
}
</script>

<style lang="stylus" scoped>
.Popup {
  position: fixed
  top: 0
  left: 0
  bottom: 0
  right: 0
  display: flex
  justify-content: center
  align-items: center
}

.Popup__container {
  max-width: 100vw
  max-height: 100vh
  min-width: 64px
  outline: none
  display: flex
  flex-direction: column

  background: $bodyBackground
  shadow(30)

  transition: all .25s ease-in-out
}
</style>
