<template>
<selectable-content>
  <div class="SelectContainer" :class="{ isExpanded, hasHover, hasFocus }">

    <div class="SelectField">
      <div class="content">test</div>
      <div class="SelectField__toggle">
        <focus-indicator :show="hasFocus" :relative-to="$refs['icon-toggle']" :offset="4" />
        <icon value="arrow_drop_down" ref="icon-toggle" :size="24" style="position: relative;"/>
      </div>
    </div>

    <dropdown :show="isExpanded" class="SelectDropdown">
      <div v-for="(opt, index) in options">
        <select-option :is-selected="selectedOptions.indexOf(opt) > -1"
                       :has-keyboard-focus="keyboardFocusIndex === index"
                       @click.native.stop="handleOptionClick(opt)">
          <slot v-if="$scopedSlots.default" :option="opt"></slot>
          <div v-if="!$scopedSlots.default">{{ opt.value }}</div>
        </select-option>
      </div>
    </dropdown>

  </div>
</selectable-content>
</template>

<script>
import SelectableContent from './SelectableContent/SelectableContent'
import FocusIndicator from './SelectableContent/FocusIndicator'
import SelectOption from './SelectOption.vue'
import Dropdown from './Dropdown.vue'

export default {
  name: 'SelectField',

  components: {
    SelectableContent,
    FocusIndicator,
    SelectOption,
    Dropdown
  },

  props: {
    options: {
      type: Array,
      required: true
    }
  },

  data () {
    return {
      normalizedOptions: [],
      selectedOptions: [],
      keyboardFocusIndex: -1,
      hasFocus: false,
      hasHover: false,
      isExpanded: false
    }
  },

  mounted () {
    this.$on('up', () => {
      this.selectPrev()
    })
    this.$on('down', () => {
      this.selectNext()
    })
  },

  beforeDestroy () {
    this.$off('up')
    this.$off('down')
  },

  methods: {
    selectPrev () {
      if (this.keyboardFocusIndex < 0) {
        this.keyboardFocusIndex = 0
      } else if (this.keyboardFocusIndex === 0) {
        this.keyboardFocusIndex = this.options.length - 1
      } else {
        this.keyboardFocusIndex -= 1
      }
    },

    selectNext () {
      if (this.keyboardFocusIndex < 0 || this.keyboardFocusIndex === this.options.length - 1) {
        this.keyboardFocusIndex = 0
      } else {
        this.keyboardFocusIndex += 1
      }
    },

    handleClick () {
      this.toggle()
    },

    handleOptionClick (opt) {
      const index = this.selectedOptions.indexOf(opt)
      if (index !== -1) {
        this.selectedOptions.splice(index, 1)
      } else {
        this.selectedOptions.push(opt)
      }
      console.log(this.selectedOptions)
    },
    toggle () {
      this.isExpanded = !this.isExpanded
    }
  }
}
</script>

<style lang="stylus" scoped>
//////////////////////////////////////////
// Container
////////////
.SelectContainer {
  display: flex
  flex-direction: column
  flex: 1 1 256px
  width: 256px
}

//////////////////////////////////////////
// Field
////////////
.SelectField {
  position: relative
  display: flex
  justify-content: space-between
  align-items: center
  width: 100%
  border: $border
}

.SelectField::before,
.SelectField::after {
  display: block
  position: absolute
  left: 0
  right: 0
  bottom: -2px
  content: ''
  background grey(3)
  height: 2px
}

.SelectField::after {
  background: primary()
  transform: scaleX(0)
  transition: transform .2s ease-out

  .hasFocus > & {
    transform: scaleX(1)
  }
}

.SelectField__toggle {
  display: flex
  align-items: center
  position: relative
}

//////////////////////////////////////////
// Dropdown
////////////
.SelectDropdown {

}
</style>
