<script>
export default {
  name: 'SelectOption',

  props: {
    isSelected: Boolean,
    hasKeyboardFocus: Boolean,
    hasHover: Boolean
  },

  render (h) {
    return h('div', {
      class: {
        SelectOption: true,
        isSelected: this.isSelected,
        hasHover: this.hasHover,
        hasKeyboardFocus: this.hasKeyboardFocus
      }
    }, this.$slots.default)
  }
}
</script>

<style lang="stylus">
.SelectOption {
  &.isSelected {
    background: grey
  }
  &.hasKeyboardFocus {
    background map('yellow', 4)
  }
}
</style>

