<template>
  <div class="TextField" :class="{ hasFocus }">

    <div class="TextField__container" :class="{ hasLabel: label }">

      <div class="TextField__label"
             v-if="label"
             :class="{ isFixed: labelIsFixed }">
        {{ label }}
      </div><!-- END TextField__label -->

      <input class="TextInput__input"
             :type="type"
             :value="value"
             @input="handleChange"
             @focus="handleFocus"
             @blur="handleBlur"
      /><!-- END TextField__input -->

    </div><!-- END TextField__container -->

  </div><!-- END TextField -->
</template>

<script>
import focus from 'ui/mixins/focus'

export default {
  name: 'TextField',

  mixins: [focus],

  props: {
    type: { type: String, default: 'text' },
    value: { type: String, required: true },
    label: { type: String },
    disabled: { type: Boolean, deafult: false }
  },

  computed: {
    labelIsFixed () {
      return this.value.length !== 0 || this.hasFocus
    }
  },

  methods: {
    handleChange (e) {
      this.$emit('change', e.target.value)
    }
  }
}
</script>

<style lang="stylus" scoped>
$labelHeight = rem(16)
$inputHeight = rem(24)

.TextField {
  position: relative
}

.TextField__container {
  display: flex
  flex-direction: column
  width: 100%

  &.hasLabel {
    padding-top: 16px
  }
}

.TextField__label {
  padding: rem(0)
  position: absolute
  z-index: -1
  top: 0
  left: 0
  font-size: $labelHeight
  line-height: $labelHeight
  transition: transform .2s ease-in-out
  transform: translate(0, 20px) scale(1)
  transform-origin: top left
  color: black(50)

  &.isFixed {
    transform: translate(0, 0) scale(.8)
  }

  .TextField.hasFocus &.isFixed {
    color: primary()
  }
}

.TextField__container::before,
.TextField__container::after {
  display: block
  position: absolute
  left: 0
  right: 0
  bottom: -2px
  content: ''
  background grey(3)
  height: 2px
}

.TextField__container::after {
  background: primary()
  transform: scaleX(0)
  transition: transform .2s ease-out

  .TextField.hasFocus > & {
    transform: scaleX(1)
  }
}

.TextInput__input {
  width: 100%
  border: none
  outline: none
  background: transparent
  padding: rem(0)
  color: black(60)
  height: $inputHeight
}
</style>
