// Ripple animation
$ripple-container-color := currentColor
$ripple-animation-background := currentColor
$ripple-animation-transition := .4s $transition.linear-out-slow-in
$ripple-animation-visible-opacity := .15

.ripple
  &__container
    color: inherit
    border-radius: inherit
    position: absolute
    width: 100%
    height: 100%
    left: 0
    top: 0
    overflow: hidden
    z-index: 2
    pointer-events: none

  &__animation
    color: inherit
    position: absolute
    top: 0
    left: 0
    border-radius: 50%
    background: black(50)
    opacity: 0
    transition: $ripple-animation-transition
    pointer-events: none
    overflow: hidden
    will-change: opacity

    &--enter
      transition: none

    &--visible
      opacity: $ripple-animation-visible-opacity
