<template>
<focusable-content :focusIndicatorOffset="20">
  <div class="FlatButton"
       :style="btnStyle"
       :class="{ uppercase, hasHover, hasFocus }"
       v-ripple
  >
    <focus-indicator :show="hasFocus"
                     :offset="16"
    ></focus-indicator>
    <div class="FlatButton__loader" v-if="loading">
      <loader :size="20" :borderWidth="2" />
    </div>

    <icon class="FlatButton__icon"
          v-if="icon"
          :value="icon"
          :size="fontSize + 4"
          :style="iconStyle"
    />
    <div class="FlatButton__text" :style="textStyle">{{ contentText | ucFirst }}</div>
  </div>
</focusable-content>
</template>

<script>
import {px} from '../../utils/index'
import {maps, getColor, grey, white, black} from 'ui/utils/color'
import button from './button'
import FocusIndicator from '../SelectableContent/FocusIndicator'
import FocusableContent from '../SelectableContent/SelectableContent'

export default {
  name: 'FlatButton',

  mixins: [button],

  components: { FocusIndicator, FocusableContent },

  props: {
    text: String,
    uppercase: Boolean
  },

  data () {
    return {
      defaultBackground: grey(3),
      defaultHoverBackground: grey(5)
    }
  },

  computed: {
    contentText () {
      if (this.text) {
        return this.text
      } else if (this.$slots.default) {
        return this.$slots.default[0].text
      }
      return null
    },

    btnBackgroundColor () {
      if (!this.color) {
        return this.hasHover ? getColor('grey', 3) : 'transparent'
      }
      if (this.color && maps.hasOwnProperty(this.color)) {
        return this.hasHover ? getColor(this.color, 4) : getColor(this.color, 5)
      }
      return this.hasHover ? grey(3) : grey(4)
    },

    btnStyle () {
      const size = this.btnSize
      return {
        height: px(size),
        paddingLeft: px(size / 2),
        paddingRight: px(size / 2),
        background: this.btnBackgroundColor,
        fontSize: px(this.btnFontSize),
        color: this.hasHover ? white(70) : black(70)
      }
    },

    iconStyle () {
      return {
        marginRight: px(this.btnSize / 4),
        opacity: this.loading ? 0 : 1
      }
    },

    textStyle () {
      return {
        opacity: this.loading ? 0 : 1
      }
    }
  },

  mounted () {
    this.$on('click', () => {
      this.$el.blur()
    })
    if (!this.disabled && this.selected) {
      this.$el.focus()
    }
  }
}
</script>

<style lang="stylus" scoped>
.FlatButton {
  btn()
  radius()
  position: relative
  display: flex
  justify-content: center
  align-items: center
  overflow: hidden

  &.uppercase {
    text-transform: uppercase
  }
}


.FlatButton__icon
.FlatButton__text {
  position: relative
}

.FlatButton__loader {
  width: 100%
  height: 100%
  position: absolute
  top: 0
  left: 0
  display: flex
  justify-content: center
  align-items: center
}
</style>
