<template>
  <FocusableContent :disabled="disabled || loading">
    <div class="IconButton"
         :class="{negative, disabled, hasFocus}"
         :style="btnStyle"
         v-ripple
    >
      <focus-indicator :show="hasFocus"
                       :offset="-2"
      ></focus-indicator>
      <Loader v-if="loading"
              :size="btnSize"
              :border-width="2"
              style="position: absolute; top: 0; left: 0;"
      ></Loader>
      <Icon class="IconButton__icon"
            :value="iconName"
            :size="computedIconSize"
      ></Icon>
    </div>
  </FocusableContent>
</template>

<script>
import {px} from 'ui/utils'
import {getColor, grey, white, black} from 'ui/utils/color'
import Loader from 'ui/components/Loader'
import button from './button'
import FocusIndicator from '../SelectableContent/FocusIndicator'
import FocusableContent from '../SelectableContent/SelectableContent'

export default {
  name: 'icon-button',

  mixins: [button],

  components: { Loader, FocusableContent, FocusIndicator },

  data () {
    return {
      defaultColor: grey(3)
    }
  },

  props: {
    negative: {
      type: Boolean,
      default: false
    },
    round: {
      type: Boolean,
      default: false
    }
  },

  watch: {
    loading (next, prev) {
      if (!next && prev) {
        this.$el.classList.add('wobble')
        setTimeout(() => {
          this.$el.classList.remove('wobble')
        }, 1000)
      }
    }
  },

  computed: {
    btnBackground () {
      if (this.hover) {
        return this.color ? getColor(this.color, 5) : this.defaultColor
      }
      return 'rgba(0,0,0,0)'
    },
    btnColor () {
      return (this.negative && !this.hover) || (this.color && this.hover) ? white(70) : black(70)
    },
    btnStyle () {
      return {
        width: px(this.btnSize),
        height: px(this.btnSize),
        borderRadius: this.square ? '0' : this.round ? '50%' : '4px',
        background: this.btnBackground,
        color: this.btnColor,
        cursor: this.disabled ? 'not-allowed' : 'pointer'
      }
    },
    computedIconSize () {
      if (this.iconSize) {
        return this.iconSize
      }
      return this.small ? 20 : this.large ? 32 : 24
    },
    iconName () {
      if (this.icon) {
        return this.icon
      }
      if (this.$slots.default) {
        return this.$slots.default[0].text
      }
      return 'warning'
    }
  },

  methods: {
    handleClick () {
      if (this.disabled || this.loading) {
        return
      }
      this.$emit('click')
    }
  }
}
</script>

<style lang="stylus" scoped>
.IconButton
  btn()
  position relative
  color $black
  &.negative
    color white(80)

IconButton__icon
  width 100%
  height 100%
</style>
