<template>
  <div id="app">
    <Tabs class="container">

      <IconButton slot="actions">face</IconButton>

      <Tab label="FORM" class="p20">
        <TextField :value="text"
                   :label="label"
                   @change="onChange"
        >
        </TextField>
        <SelectField class="my20" :options="options"
        >
          <template scope="{ option }">
            <div class="tag">{{ option.value }}</div>
          </template>
        </SelectField>
      </Tab>

      <Tab label="BUTTONS" class="p20">
        <div class="buttons">
          <Checkbox :value="checkbox1" @click="checkbox1 = !checkbox1">option a</Checkbox>
          <Checkbox :value="checkbox2" label="option b" @click="checkbox2 = !checkbox2"></Checkbox>
          <FlatButton text="Show popup" @click="showPopup = true"></FlatButton>
          <FlatButton color="red" :loading="loading" @click="loading = !loading">test</FlatButton>
          <FlatButton color="teal" loading>test</FlatButton>
          <IconButton icon="check" />
          <IconButton loading icon="save" disabled/>
        </div>
      </Tab>

    </Tabs>

    <Popup :show="showPopup" @close="showPopup = false">
      <div class="popup">
        <FlatButton @click="showPopup2 = true">Open second popup</FlatButton>
      </div>
    </Popup>

    <Popup :show="showPopup2" @close="showPopup2 = false">
      <div class="popupInPopup"></div>
    </Popup>
  </div>
</template>

<script>
export default {
  name: 'app',

  data () {
    return {
      text: '',
      label: 'Label du champ',
      showPopup: false,
      showPopup2: false,
      checkbox1: false,
      checkbox2: true,
      loading: false,
      options: [
        { value: 'options 1' },
        { value: 'options 2' },
        { value: 'options 3' },
        { value: 'options 4' },
        { value: 'options 5' },
        { value: 'options 6' }
      ]
    }
  },

  methods: {
    onChange (value) {
      this.text = value
    }
  }
}
</script>

<style lang="stylus">
#app {
  width: 100vw
  height: 100vh
  padding: 10px
}

.container {
  border $border
  radius()
  width: 100%
  height: 100%
}

.buttons {
  display: flex
  align-items: center
  & > * {
    margin: 0 6px
  }
}

.popup {
  width: 500px
  height: 400px
  background map('red', 4)
  display: flex
  align-items: center
  justify-content: center
}

.popupInPopup {
  width: 200px
  height: 200px
  background map('lime', 4)
}
</style>
