<template>
  <div class="notifications-container">
    <ui-notification v-for="(notif, index) in notifications"
                     :key="index"
                     :notification-id="notif.id"
                     :time-left="notif.timeLeft"
                     :message="notif.message"
                     :type="notif.type"
    />
  </div>
</template>

<script>
export default {
  name: 'ui-notifications-container',

  data () {
    return {
      notifications: this.$notify.notifications
    }
  }
}
</script>

<style lang="stylus" scoped>

.notifications-container
  position: absolute
  bottom: 0
  right: 0
  z-index: 10
  display: flex
  flex-direction: column
  justify-content: flex-end
  align-items: flex-end
  overflow: hidden
</style>
