<template>
  <transition name="fade">
    <div class="notification" :class="`notification--${type}`">
      <div class="notification__icon"><mu-icon :size="20" value="priority_high"/></div>
      <div class="notification__message">{{ message }}</div>
      <div class="notification__close" @click="dismiss(notificationId)"><mu-icon value="close"/></div>
    </div>
  </transition>
</template>

<script>
export default {
  name: 'ui-notification',

  props: {
    notificationId: { type: String, required: true },
    message: { type: String, required: true },
    type: { type: String, required: true },
    timeLeft: { type: Number, required: true }
  },

  methods: {
    dismiss (id) {
      this.$notify.dismiss(id)
    }
  }
}
</script>

<style lang="stylus" scoped>
$icon-container-size = 26px
$icon-size = 12px
$border-width = 5px

.notification
  display: flex
  align-items: center
  position: relative
  margin: 0 10px 10px ($icon-container-size/2)
  padding: 16px 24px
  background: $black-8
  border-left: $border-width solid $black
  width: 400px
  transition: all 2s
  &--warn
    border-color: $yellow
  &--error
    border-color: $red
  &--info
    border-color: $blue
  &--success
    border-color: $green


.notification__icon
  display: flex
  align-items: center
  justify-content: center
  width: $icon-container-size
  height: $icon-container-size
  position: absolute
  top: 6px
  left: -($icon-container-size/2 + $border-width/2)
  border-radius: 50%

  i.md-icon
    width: $icon-size
    height: $icon-size
    min-width: $icon-size
    min-height: $icon-size
    font-size: $icon-size
  .notification--info &
    background: $blue
    color: darken($blue, 30)
  .notification--success &
    background: $green
    color: darken($green, 40)
  .notification--warn &
    background: $yellow
    color: darken($yellow, 40)
  .notification--error &
    background: $red
    color: darken($red, 40)


.notification__close
  position: absolute
  top: 10px
  right: 10px
  width: 24px
  height: 24px
  display: flex
  justify-content: center
  align-items: center
  color: $white-6
  border-radius: 50%
  transition: all .25s ease-in-out
  cursor: pointer
  &:hover
    background: $white-4
    color: $black


.notification__message
  color: $white-8

.fade-enter-active, .fade-leave-active
  transition: transform .3s ease-in

.fade-enter, .fade-leave-to
  transform translate(100%)
  transition: transform .3s ease-in
</style>
