btn()
  display: inline-flex
  justify-content: center
  align-items: center
  background: none
  border: none
  font-weight: 400
  transition all .2s ease-out
  color: black(60)
  outline: none
  user-select: none
  &.disabled:hover
    cursor not-allowed
  &:not(.disabled):hover
    cursor pointer
