fontUrl(file, ext)
  return '/static/font/' + file + '.' + ext

fontFace(name, file, weight = 400, style = 'normal', hack-chrome-windows = false)
  @font-face
    font-family name
    font-weight weight
    font-style style
    src url(fontUrl(file, 'eot'))
    src url(fontUrl(file, 'eot?#iefix')) format('embedded-opentype'),
        url(fontUrl(file, 'woff')) format('woff'),
        url(fontUrl(file, 'ttf')) format('truetype'),
        url(fontUrl(file, 'svg#'+ family)) format('svg')
  if hack-chrome-windows
    @media screen and (-webkit-min-device-pixel-ratio: 0)
      @font-face
        font-family family
        src url(font-url(file + '.svg#'+ family)) format('svg')
