// FADE
.v-enter-active, .v-fade-active,
.fade-enter-active, .fade-leave-active {
  transition: opacity .25s ease-in-out
}
.v-enter, .v-leave-to,
.fade-enter, .fade-leave-to {
  opacity: 0
}

// FADE
slideDown
  &-enter-active, &-leave-active
    transition: $primaryTransition
  &-enter, &-leave-to
    opacity: 0
    transform: translateY(-50px)
