// SCALE OUT
.scaleOut-enter-active, .scaleOut-leave-active {
  transition: all .25s ease-in
  transform: scale(1)
  opacity: 1
}
.scaleOut-enter, scaleOut-leave-to {
  transform: scale(2)
  opacity: 0
}
