// SCALE IN
.scaleIn-enter-active, .scaleIn-leave-active {
  transition: all .25s ease-in
  transform: scale(1)
  opacity: 1
}
.scaleIn-enter, .scaleIn-leave-to {
  transform: scale(0)
  opacity: 0
}
