<template>
  <div class="Tab" v-show="isActive">
    <slot></slot>
  </div>
</template>

<script>
let id = 0

export default {
  name: 'Tab',

  data () {
    return {
      id: `tab-${id++}`
    }
  },

  props: {
    label: { type: String },
    icon: { type: String },
    active: { type: Boolean, default: false }
  },

  mounted () {
    this.$parent.addTab({
      label: this.label,
      icon: this.icon,
      id: this.id
    })
  },

  beforeDestroy () {
    this.$parent.removeTab(this.id)
  },

  computed: {
    isActive () {
      return this.$parent.activeTabId === this.id
    }
  }
}
</script>

<style lang="stylus" scoped>
.Tab {
  flex: 1 1 auto
  overflow-y: auto
}
</style>

