<template>
  <div class="Tabs">

    <div class="Tabs__header" :class="{ right }" :style="headerStyle">

      <div class="Tabs__buttons">
        <div v-for="tab in tabs"
             class="switch"
             :class="{ isActive: activeTabId === tab.id }"
             :ref="tab.id"
             @click="setActiveTab(tab.id)"
             v-ripple
        >
          <Icon v-if="tab.icon"
                   class="switch__icon"
                   :size="18"
                   :value="tab.icon"
          />
          <div v-if="tab.label"
               class="switch__label">
            {{ tab.label }}
          </div>
        </div>
      </div>

      <div class="Tabs__actions">
        <slot name="actions"></slot>
      </div>

      <div class="Tabs__underline" :style="underlineStyle"></div>

    </div>

    <div class="Tabs__body">
      <slot></slot>
    </div>

  </div>
</template>

<script>
import resize from '../../mixins/resize'
import {px} from '../../utils'

export default {
  name: 'Tabs',

  mixins: [resize],

  props: {
    large: Boolean,
    small: Boolean,
    right: Boolean // align all item on the right
  },

  data () {
    return {
      tabs: [],
      activeTabId: null,
      size: 48,
      underlineStyle: {
        left: '0px',
        width: '0px',
        transform: 'translateX(0px)'
      }
    }
  },

  created () {
    if (this.small) {
      this.size = 32
    }
    if (this.large) {
      this.size = 64
    }
  },

  mounted () {
    this.updateUnderline()
  },

  watch: {
    tabs () {
      this.updateUnderline()
    }
  },

  computed: {
    headerStyle () {
      return {
        flexBasis: px(this.size),
        height: px(this.size)
      }
    },
    defaultTab () {
      return this.tabs.length > 0 ? this.tabs[0].id : null
    }
  },

  methods: {
    addTab (tab) {
      this.tabs.push(tab)
      if (!this.activeTabId || tab.default) {
        this.setActiveTab(tab.id)
      } else {
        this.$nextTick(() => {
          this.updateUnderline()
        })
      }
    },

    removeTab (id) {
      const tabIndex = this.tabs.findIndex(t => t.id === id)
      const isCurrent = id === this.activeTabId
      this.tabs.splice(tabIndex, 1)
      if (isCurrent) {
        this.setActiveTab(this.defaultTab)
      }
    },

    setActiveTab (id) {
      if (!id || this.activeTabId === id) {
        return
      }
      this.activeTabId = id
      this.$emit('change', id)
      this.$nextTick(() => {
        this.updateUnderline()
      })
    },

    updateUnderline () {
      if (this.activeTabId in this.$refs) {
        const [el] = this.$refs[this.activeTabId]
        if (el) {
          // const offsetRight = this.$el.clientWidth - (el.offsetLeft + el.clientWidth)
          // const width = this.$el.clientWidth - (offsetRight + el.offsetLeft)
          this.underlineStyle.transform = `translateX(${el.offsetLeft}px)`
          this.underlineStyle.width = px(el.clientWidth)
        }
      }
    },

    handleResize () {
      this.updateUnderline()
    }
  }
}
</script>

<style lang="stylus" scoped>
.Tabs {
  display: flex
  flex-direction: column
  user-select none
  max-height: 100vh
}


.Tabs__header {
  flex 0 0 48px
  display: flex
  justify-content: space-between
  position: relative
  border-bottom: $border
  height: 48px

  &.alignRight {
    justify-content: flex-end
  }

  .switch {
    display: flex
    justify-content: center
    align-items: center
    height: 100%
    padding: 0 $spacing
    color: $black-6
    cursor: pointer

    &.isActive {
      color: primary()
    }
  }

  .switch__icon {
    margin-right: 6px
  }

  .switch__label {
    display: flex
    justify-content: center
    align-items: center
    font-weight: 400
    font-size: 18px
  }
}

.Tabs__buttons,
.Tabs__actions {
  display: flex
}

.Tabs__actions {
  align-items: center
  padding: 0 6px
}


.Tabs__underline {
  position: absolute
  bottom: -2px
  height: 2px
  background primary()
  transition: all .15s ease-in-out
}


.Tabs__body {
  display: flex
  flex: 1 1 auto
  overflow-y: auto
}
</style>
